.button-card-content{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 3px 15px 0 15px;
    font-size: 13px;
    font-family: montserrat;
}

nav {
    display: none;
}

.container{
    padding: 0;
    margin: 0;
  }

.button-desc p {
    margin: 5px 15px 5px 0;
}

.order-car-page{
    font-family: montserrat;
}

.button-desc p:nth-child(1) {
    text-align: left;
}

.button-card-buttons p:nth-child(1) {
    margin: 0 0px 0 0;
}


.button-card-buttons {
    margin: 0;
    width: 100%;
}
.button-card-buttons p {
    margin: 0;
    padding: 10px 5px 10px 5px;
    text-align: left;
}


.button-card-buttons button {
   border-radius: 3px;
   width: 100%;
   color: white;
   background-color: black;
   margin: 15px 0;
}

.form-check input {
    margin: 10px;
}

input#flexSwitchCheckChecked.form-check-input:checked {
    background-color: rgb(255, 75, 75); 
    border: rgb(255, 75, 75); 
  }

  input#flexSwitchCheckChecked.form-check-input {
    height: 17px;
    width: 37px;
    background-color: none; /* Or transparent */
    border-color: none; /* Or transparent */
}

.form-switch {
    margin: 0 5px 0;
}


div.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .row {
    font-family: montserrat;
  }

  div.col {
    padding: 0;
    margin: 0;
  }
  
.navbar-icon {
  border: 0;
  background-color: rgba(0, 0, 0, 0.425);
  height: 5px;
  
}

.navbar {
  background-color: rgba(0, 0, 0, 0.562);
  z-index: 1000;
}

ul.navbar-nav {
  background-color: rgba(0, 0, 0, 0.507);
}

.navbar {
  margin: 0;
  padding: 0;
  z-index: 10;
}

.container {
  padding: 0;
}


.custom-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-brand {
  padding: 20px;
  font-family: "Tesla";
  letter-spacing: 10px;
}

.navbar-collapse {
  margin-top: -10px;
}
.navbar-nav {
  padding: 20px;
  font-family: montserrat;
  font-weight: 500;
}

.navbar-toggler{
  margin: 0 15px 0 0;
  padding: 2px;
}

.button-desc {
    width: 100%;
}

.additional-info {
  text-align: left;

  width: 100%
}

.feature-detail {
  text-align: center;
  margin: 15px 0 20% 0;
  color: rgb(34, 34, 34);
}

.feature-detail button {
  background-color: #F4F4F4;
  font-size: 13px;
  font-weight: 600;
  width: 150px;
  height: 28px;
  border-radius: 3px;
  border: none;
}
/* 
const [borderStyle, setBorderStyle] = useState({
    data: 0,
    border: "1px solid gray"
  })
  
  
  function toggleBorder(index) {
    console.log("Index ", index);
    setBorderStyle ((prevBorder) => {
      return 
    })
  }
  
  const allButtons = props.buttonsLabel.map((item,index) => {
    return (
      <button 
      className='d-flex justify-content-between align-items-center' 
      onClick={() => toggleBorder(index)}
      key={index}
      style={borderStyle}
      >
                
        <p>{item.label}</p>
        <p>{item.price}</p>
        
      </button>
    )
   }) */