
/* lg */
@media (min-width: 1024px) {

  /* .order-car-tablet {
    display: none; /* Hide on tablet and smaller devices */

  .laptop-order-car {
    display: block;
  }
    .desktop-bar {
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 160px 0 0;
    }

    .navbar-nav {
        padding: 0;
        font-family: montserrat;
        font-weight: 500;
      }

    .nav-item {
        font-size: 13px;
    }

    .navbar-brand {
        font-size: 15px;
        margin: -7px 0 0 15px;
    }



    /* HOME PAGE */

    .home-car img {
        width: 80%;
      }


    .company-name {
        margin: 30px 0;
        font-size: 40px;
    }
    .company-desc {
        font-size: 13px;
        padding: 0 100px;
      }
      
      .view-cars {
        font-size: 13px;
        padding: 5px 35px;
        width: 230px;
      }

    .vehicle {
        height: 1050px;
        width: 100%;
      }

      .car-cards {
        height: 1050px;
        width: 100%;
        overflow: hidden;
        padding: 0;
        margin: 0;
        z-index: 0;
      }

      .car-bg-floor {
        height: 70%;
        margin: 670px 0;
        position: relative;
      }

      .wall-effect {
        height: 200px;
        width: 90px;
        background-color: red;
        margin: 0px 0 0 50px;
        top: 420px;
        position: absolute;
        z-index: 1;
        mix-blend-mode: darken;
      }
      



      .car-button {
        margin: 19px auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        transform: translateY(30px);
      }
      
      .car-button button {
        border: 0;
        width: 270px;
        height: 37px;
        border-radius: 3px;
        margin: 10px;
        font-size: 14px;
        padding: 5px 10px;
        font-weight: 600;
        font-family: montserrat;
      }



      .wall-effect {
        height: 200px;
        width: 110px;
        background-color: rgb(255, 0, 0);
        margin: 0px 0 0 50px;
        top: 420px;
      }


      .text-bg {
        width: 550px;
        height: 140px;
        font-size: 50px;
        margin: 535px 0;
        transform: scale(2.8);
        text-align: center;
        color: white;
        letter-spacing: 5px;
      }
      

      .text-bg-text {
        position: absolute;
        top: 0px;
        left: 100%; /* Start position */
        width: 100%;
        height: 100%;
      }

      

      .top-title-car {
        transform: translateY(-530px);
      }

      .car-model-name {
        font-size: 40px;
      }

      .car-price p:nth-child(1) {
        font-size: 20px;
      }

      .car-price p:nth-child(2) {
        font-size: 15px;
      }

    /*NAV*/
    .navbar {
        background-color: transparent;
    }
    ul.navbar-nav {
        background-color: transparent;
    }

    ul.navbar-nav {
        background-color: transparent;
      }


.text-bg {
  border: 2px solid red;
  margin: 538 0 0 0;
  transform: translateX(20px);
}
      


}

