@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.cdnfonts.com/css/tesla-2");

/* .laptop-order-car {
  display: none;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: montserrat;
  background-color: black;
}

div.container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
}
div.container {
  margin: 100px;
  padding: 0;
}
.col {
  width: 110%;
  margin: 0;
  padding: 0;
}

.row {
  font-family: montserrat;
}

div.col {
  padding: 0;
  margin: 0;
}

.navbar-icon {
  border: 0;
  background-color: rgba(0, 0, 0, 0.425);
  height: 5px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.562);
  z-index: 1000;
}

ul.navbar-nav {
  background-color: rgba(0, 0, 0, 0.507);
}

.navbar {
  margin: 0;
  padding: 0;
  z-index: 10;
}

.container {
  padding: 0;
}

p,
button,
div.car.car-model-name {
  font-family: montserrat;
}

.custom-toggler-icon {
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-brand {
  padding: 20px;
  font-family: "TESLA";
  letter-spacing: 10px;
}

.navbar-collapse {
  margin-top: -10px;
}
.navbar-nav {
  padding: 20px;
  font-family: montserrat;
  font-weight: 500;
}

.navbar-toggler {
  margin: 0 15px 0 0;
  padding: 2px;
}

/* //Desktop Bar  */
.desktop-bar {
}

.background-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* VEHICLES */
/* .vehicle {
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
} */

.vehicle {
  width: 100%;
  height: 100vh;
}

.intro-desc {
  color: white;
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-items: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  bottom: 100px;
}

.company-name {
  font-family: tesla;
  letter-spacing: 10px;
  font-size: 25px;
}

.intro {
  margin-top: 380px;
}
.company-desc {
  font-size: 12px;
  padding: 0 30px;
}

.view-cars {
  font-weight: 600;
  font-size: 11px;
  padding: 5px 35px;
  border: 0;
  border-radius: 3px;
  font-size: 12px;
  font-family: montserrat;
  width: 170px;
  font-weight: 600;
}

/* CAR BG*/

.car-bg {
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin: auto;
  max-width: 1200px;
}

.car-bg-wall {
  height: 300px;

  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 300px;
}

.car-bg-floor {
  height: 70%;
  margin: 620px 0;
  z-index: 1;
  width: 100%;
}

.car-content {
  width: 100%;
  position: absolute;
}

.car img {
  margin: 530px 0;
  width: 330px;
  position: absolute;
  z-index: 1;
}

.car-style {
  overflow: hidden;
}

/* BG TEXT */
.text-bg {
  height: 50px;
  font-weight: 800;
  font-size: 40px;
  margin: 475px 0;
  transform: scale(2.6);
  text-align: center;
  color: white;
  font-family: "Michroma", sans-serif;
  -webkit-text-stroke: 3px;
  z-index: 0;
  letter-spacing: 5px;
  position: relative;
  bottom: 350px;
}

.text-bg-text {
  position: absolute;
  top: 0;
  left: 100%; /* Start position */
  width: 100%;
  height: 100%;
  white-space: nowrap; /* Prevents text from wrapping */
  animation: moveText 15s linear infinite;
}

.car-bg-floor-line {
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 0;
}

@keyframes moveText {
  from {
    left: 100%; /* Start off-screen right */
  }
  to {
    left: -100%; /* Move off-screen left */
  }
}

.car-top-title {
  z-index: 1;
}

.wall-effect {
  height: 200px;
  width: 90px;
  background-color: rgb(255, 0, 0);
  margin: 0px 0 0 50px;
  top: 420px;
  position: absolute;
  z-index: 1;
  mix-blend-mode: darken;
  right: 50%;
}

.car-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-button button {
  border: 0;
  width: 270px;
  height: 30px;
  border-radius: 3px;
  margin: 10px;
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 600;
  font-family: montserrat;
}

.demo-drive {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.car img {
  width: 90%;
  z-index: 2;
  margin: 0;
}

.col {
  padding: 0;
}

nav {
  z-index: 400;
  position: sticky;
}

.top-title-car {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  width: 100%;
  top: 100px;
  right: 0;
}
/* Top Title Car */
.car-model-name {
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 10px 0;
  font-family: montserrat;
}

.car-price p {
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.car-price p:nth-child(1) {
  font-weight: 500;
}

.car-price p:nth-child(2) {
  font-size: 12px;
}

/* Car Cards */

.container-fluid {
  padding: 0;
}

.car-cards {
  height: 1000px;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: 0;
}

/* ORDER NOW */
.order-now-button-text {
  text-decoration: none;
  color: black;
}

.order-now-button-text:hover {
  text-decoration: none;
  color: #1d1d1d;
}

.order-now {
  width: 100px;
}

.home-car {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-55%);
  z-index: 1;
}

.home-car img {
  width: 100%;
  max-width: 900px;
}
