@media (min-width: 992px) {
    /* FIRST SECTION */


    .model-y-main {
        background-image: url("../../../Images/Model Y/Model Y Main.png");
        width: 100%;
        height: 100vh;
        margin: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 0 0 20px 0;
    }


    .main-title h1 {
        font-size: 48px;
        font-weight: 600;
    }

    .main-title h2 {
        font-size: 28px;
        font-weight: 600;
        text-decoration: underline;
    }

    .main-title h3 {
        font-size: 17px;
        font-weight: 600;
    }




    .badges {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .desc-badges {
        width: 540px;
    }



    .desc-badges h2 {
        font-size: 22px;
        font-weight: 600;
    }

    .desc-badges .col {
        margin: 1%;
    }

    .desc-badges h3 {
        font-size: 13px;
    }

    .button-badges {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .button-badges button:nth-child(1) {
        width: 260px;
        height: 40px;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
        color: white;
        background-color: rgb(31, 90, 255);
        margin: 0 13px 10px 13px;
        font-size: 88%;
    }

    .button-badges button:nth-child(2) {
        width: 260px;
        height: 40px;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        margin: 0 13px 10px 13px;
        font-size: 88%;
    }



    
    /* SECOND SECTION */
    .model-y-second-section {
        display: flex;
        flex-direction: column;
        margin: 0 0 100px 0;
    }

    .model-y-second {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-second {
        width: 85%;
        margin: 100px 0 10px 0;
    }

    .engineer-safety {
        padding: 40px 10% 0 10%;
        font-size: 95%;
    }

    .engineer-safety h1 {
        font-size: 170%;
        margin: 0 0 10px 0;
        font-weight: 600;
        padding: 0 20% 0 0;
    }


    /*THIRD SECTION */
    .model-y-third-section {
        display: flex;
        flex-direction: row-reverse;
        height: auto;
        font-size: 90%;
        padding: 0 10% 0 10%;
    }


    .model-y-third {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .background-no-accident {
        width: 90%;
    }

    .third-section-desc {
        width: 70%;
    }

}