/* xs */
@media (min-width: 992px) {
  
    /*NAVBAR*/
    .adjust-image {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
    }

    .main-section {
        height: 110vh;
        background-image: url("../../Images/Model 3/Model 3 Main lg.png");
    }

    .car-title {
      text-align: center;
      font-size: 320%;
      font-weight: 600;
    }
    
    .apr {
      padding: 0 5% 0 5%;
    }

    .car-desc p:nth-child(1) {
      font-size: 180%;
      margin: 0 0 5px 0;
    }
  
    .car-desc p:nth-child(2) {
      font-size: 125%;
    }
  
    .car-details {
      margin: 120px 0;
      font-size: 90%;
      
    }
    
    .stats-row .col {
        height: 85px;
    }


    .car-stats .row{
      font-size: 85%;
      margin: 700px auto 0 auto;
      text-align: center;
      font-weight: 500;
      width: 500px;
    }
  
    .car-stats .row .col h1 {
      font-size: 160%;
      font-weight: 600;
    }
  
    .button-order {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .button-order button {
        margin: 10px 7px 0 7px;
    }

  
    .order-now-model3 {
      width: 250px;
      height: 40px;
      font-weight: 600;
      border: 0;
      border-radius: 5px;
      color: white;
      background-color: rgb(31, 90, 255);
      margin: 4px;
      font-size: 90%;
    }
  
    .demo-drive-model3 {
      width: 250px;
      height: 40px;
      font-weight: 600;
      border: 0;
      border-radius: 5px;
      color: rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
      margin: 4px;
      font-size: 90%;
    }
  
  
  
  
    /* Second Section */
    
    .second-section {
      background-image: url("../../Images/Model 3/Model 3 Second lg.png");
      height: 110vh;
      background-position: center;
      background-size: cover;
      margin: -50px 0 0 0;
    }
  
    .distance-details {
      margin: 5%;
      transform: translateY(5%);
      width: 85%;
      padding: 1% 20% 0 20%;
      color: rgb(255, 255, 255);
      text-align: center;
    }
  
    .distance-details h1 {
      font-size: 155%;
      font-weight: 600;
    }
    .distance-details p{
      font-size: 90%;
    }
    
  
    /* Third Section */
  
    .third-section {
      height: auto;
    }

    .third-container{
      width: 70%;
      margin: auto
    }
  
    .background-video-model3{
      height: 600px;
    }
  
    .third-section div.row {
      margin: 0px;
      padding: 0;
    }
  
    .vid-third {
      height: 35rem;
      width: 100vw;
      padding: 0;
      margin: 5% 0 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
  
    }
  
    .vid-third .two-newColors {
      width: 200%;
      height: 100%;
    }
  
    .upgraded-wheels {
      width: 230%;
      height: 100%;
    }
  
    .third-section-details {
      font-size: 80%;
      margin: 30px 0 0 30px;
      width: 100%;
      padding: 0;
    }
  
    .third {
      padding: 8%;
      font-size: 80%;
      margin: 30px 0 0 30px;
    }
    .third-section-details h1 {
      font-size: 140%;
      font-weight: 600;
    }
  
    .two-new-colors-btn {
      width: 15px;
      height: 15px;
      border: 0;
      border-radius: 100%;
      margin: 0 0 20px 0;
    }
  
    .upgraded-wheels-btn {
      width: 15px;
      height: 15px;
      border: 0;
      border-radius: 100%;
      margin: 0 0 20px 5px;
    }
  
    .all-new-interior {
      margin: 20% 0 30px 0;
      text-align: center;
      font-size: 113%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5% 0 5%;
    }
  
    .all-new-interior h1 {
      font-size: 170%;
      font-weight: 600;
    }

    .all-new-interior p { 
      text-align: center;
    }

    .vid-interior video {
      width: 100%;
      height: 130vh;
      margin: 20% 0 20% 0;
    }

    .vid-interior {
      margin: 15% 0 20% 0;
    }
  

  
    .fourth-section {
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  
      .carousel-vid {
        width: 90%;
        margin: auto;
      }
  
    .carousel-indicators {
      transform: translateY(250%);
    }
  
    .carousel-indicators li {
      width: 400px;
      height: 4px;
      border-radius: 3px;
    }
  
    .carousel-item {
      height: 650px;
    }
    
    .carousel-caption {
      text-align: left;
      width: 90%;
      transform: translate(-15%, 30%);
      margin: 0 0 20px 0;
      font-size: 95%;
      background-color: rgba(0, 0, 0, 0.247);
      padding: 20px;
      width: 100%;
      position: absolute;
    }
    
    .carousel-inner {
        margin: 100px 0 0 0;
    }
    .carousel-caption h3 {
      font-size: 150%;
    }
  
    .background-video-model4 {
      width: 100%;
    }
  
    .cabin {
      padding: 10% 25%;
      font-size: 95%;
      color: black;
      font-weight: 500;
      text-align: center;
    }
  
    .cabin h3 {
      font-size: 190%;
      font-weight: 650;
    }
  
    .img-cabin {
      background-image: url('../../Images/Model 3/Cabin.png');
      height: 900px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
    }
  
    .sixth-section {
      height: 670px;
      background-color: white;
      color: black;
    }
  
  
    .seventh-section {
      margin: -10% 0 0 0;
      padding: 10% 0;
      background-color: white;
      color: black;
    }
  
    .phones-row {
      display: flex;
      flex-direction: row;
      margin: 1%;
    }
  
    .img-tech {
      width: 25%;
      height: auto;
      text-align: center;
      padding: 0;
      margin: 0 0.31% 0 0.31%;
    }
  
    .img-tech img {
      width: 95%;
    }
  
    .caption-img {
      font-size: 100%;
      margin: 15% 0;
      height: 100px;
    }
  
    .tech {
      padding: 8% 8% 3% 8%;
      font-size: 95%;
      font-weight: 500;
      margin: 5% 0 0 0;
      text-align: center;
    }
    
    .tech p {
      padding: 0 20% 0;
    }
    .tech h3 {
      font-weight: 600;
    }
    .cabin h3 {
      font-size: 150%;
      font-weight: 650;
    }
  

    .elegant-tech-img img{
      width: 80%;
    }

    .eighth-section {
        background-repeat: no-repeat;
        background-size: cover;
    }
  
    .phone-tech {
      padding: 7% 0 3% 0;
      font-size: 95%;
      font-weight: 500;
      margin: 10% 0 0 0;
      text-align: center;
    }
  
    .phone-tech h3 {
      font-size: 160%;
      font-weight: 650;
    }
  
    .eighth-section {
      height: 900px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .model3-buttons-content-mode {
      margin: 0 0 0 0;
      font-size: 90%;
    }
  
    .info-eighth-position p {
      padding:  0;
    }
  
    .eight-position-details {
      transform: translate(12%, 600%);
    }
  
    .info-eighth-position {
      position: absolute;
      font-size: 140%;
    }
  
    .model3-buttons-content {
      transform: translateY(1000%);
    }
  
    .title-eighth-section{
      text-align: center;
      padding: 0;
      margin: 5% 0;
    }
  
    .title-eighth-section h1 {
      font-size: 180%;
      padding: 0;
      margin: 0;
      font-weight: 600;
    }
  
  
    .ninth-section {
      height: 900px;
      margin: 25% 0 10% 0;
    }
  
    .charging-title-section {
      margin: 6% 0 15% 0%;
      font-size: 95%;
      text-align: center;
    }
  
    .charging-title-section h3 {
      font-weight: 600;
    }
  
    .row-image-section {
      height: 100px;
      display: flex;
      margin: 8% 5%;
      font-size: 120%;
    }
  
    .row-image-section div {
      padding: 1%;
      width: 100%;
      cursor: pointer;
    }
  
  
  
    .row-image-section h1 {
      font-size: 100%;
      font-weight: 600;
    }
  
    .row-image-section p {
      font-size: 70%;
    }
  
    .line {
      width: 100%;
      height: 2px;
      margin: 0 0 15px 0;
      opacity: 1;
    }
  
    .active-image-section {
      margin: -7% 0;
      padding: 5%;
    }
    .active-image-section img {
      width: 100%;
    }


  
    .tenth-section {
      height: auto;
      margin: 25% 0 10% 0;
    }
  

    .demo-title-section {
      font-size: 95%;
      padding: 7% 0 0 0;
      text-align: center;
      margin: 0 0 8% 0;
  
    }
  
    .demo-title-section h3 {
      font-weight: 600;
      font-size: 160%;
    }
  
    .form-group {
      padding: 6%;
      font-size: 120%;
    }

    .tenth-main {
      display: flex;
      justify-content: center;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 35%;
      padding: 0 40px 0 0;
    }

    .submit-zip {
      display: flex;
      margin: 0 6%;
    }

    .zip-image {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding: 0;
    }
    
    .form-group {
      padding: 0 6%;
      
    }
    .form-group label {
      font-weight: 600;
      font-size: 80%;
    }
    
    .form-group input {
      background-color: rgb(77, 77, 77);
      border-color: rgb(34, 34, 34);
    }
  

  
    .submit-zip button {
      width: 100%;
      font-weight: 600;
      font-size: 90%;
      border-radius: 3px;
      border: 0;
      height: 40px;
      color: white;
      background-color: rgb(25, 79, 255);
    }
  
  
    .zip-image{
      width: 50%;
      border-radius: 5px;
    }
  
    .engineered-title-section {
      padding: 8%;
      margin: 5% 0;
      font-size: 95%;
    }
  
    .engineered-image {
      margin: 8% 0 -8% 0;
      padding: 6%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  
  
    .engineered-image img {
      width: 100%;
    }
  
    .engineered-title-section h3 {
      font-weight: 600;
      font-size: 160%;
      margin: 0 0 6% 0;
    }
  
    .parts-section {
      position: absolute;
    }
  
    .rigid {
      transform: translate(70%, -150%);
      position: absolute;
      height: 100px;
      width: 100px;
    }
  
    .impact {
      transform: translate(-80%, -70%);
      position: absolute;
      height: 120px;
      width: 100px;
    }
  
    .parts-section h3 {
      font-size: 100%;
      transform: translate(10%, -700%);
      font-weight: 600;
      opacity: 1;
    }
  
    .rigid .line-rigid {
      height: 100px;
      width: 3px;
      background-color: white;
    }
  
    .line-features {
      opacity: 0;
    }
  
  
  
    .impact .line-rigid {
      height: 150px;
      width: 3px;
      background-color: white;
    }
  
    .roll .line-rigid {
      height: 150px;
      width: 3px;
      background-color: white;
      position: absolute;
      border: 3px solid red;
      
    }
  
  
    .twelfth-section {
      margin: 0% 0 0 0;
    }
  
    .arrive-image img {
      width: 100%;
    }
  
    .features-refresh {
        font-size: 120%;
    }
  
    .twelfth-section .arrive-refresh{
      padding: 6%;
      font-size: 115%;
      transform: translateY(-20%);
    }
     .arrive-refresh h3 {
        margin-bottom: -15px;
     }

    .arrive-refresh p {
        margin: -2% 0;
    }
  
    .line-rigid-1, .line-rigid-2, .line-rigid-3 {
      height: 200px;
      width: 3px;
      background-color: white;
      transform: translateY(-19%);
    }
  
    .roll h3 {
      transform: translate(10%, 290%);
      position: absolute;
      opacity: 1;
    }
  
    .roll {
      transform: translate(50%, 100%);
      width: 100px;
      height: 100px;
    }
  
  
    .line-rigid-3 {
      transform: rotate(180deg);
      width: 3px;
      background-color: white;
      position: absolute;
    }
    
  
  
    .thirteenth-section {
      margin: -100px 0 0 0;
      font-size: 120%;
    }

    .thirteenth-section .col.distance {
      padding: 70px;
    }
  
    .model3-specs h1{
      font-size: 140%;
      font-weight: 600;
    }
  
    .features-refresh {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
    .features-refresh div {
      margin: 3%;
      font-size: 80%;
      font-weight: 600;
      transform: translateY(-300px);
    }
  
    .features-refresh div h3 {
      font-weight: 700;
      font-size: 140%;
    }
  
    .thirteenth-section .distance {
      padding: 8%;
    }
  
    .drive-title, .dimension, .warranty, .charging, .other{
      font-size: 80%;
    }
  
    .drive-title h1, .dimension h1, .warranty h1, .charging h1, .other h1 {
      margin: 0 0 10% 0;
      font-size: 140%;
      font-weight: 600;
    }
  
    .arrive-refresh h3 {
      font-size: 150%;
      font-weight: 600;
    }
  
    .arrive-refresh p {
      font-size: 85%;
      margin: 5% 0;
    }
  
  
  
  
  
  
  
    .col-specs h3 {
      font-size: 105%;
    }
  
    .col-specs p {
      margin: 0 0 3px 0;
      color: rgb(151, 151, 151);
    }
  
    .col-specs {
      margin: 0 0 15% 0;
    }
  
    .col-specs img {
      width: 200%;
    }
  
    .specs-button {
      display: flex;
      margin: 15% 0 15% 0;
    }
  
    .specs-button button {
      font-size: 70%;
      font-weight: 600;
      width: 100%;
      padding: 4%;
      color: white;
      border-color: transparent;
      background-color: transparent;
      border: none;
    }
  
    /* .specs-button button:nth-child(1)
    {
      border-bottom: 2px solid white;
    }
    .specs-button button:nth-child(2),   .specs-button button:nth-child(3)
    {
      border-bottom: 2px solid rgb(54, 54, 54);
    } */
  
  
  .fourteenth-section {
    height: 100vh;
    background-image: url("../../Images/Model 3/Model 3 Order.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 5% 0 0 0;
  }
  
  .order-model3 {
    transform: translateY(-575%);
    height: 15vh;
    font-family: montserrat;
    font-size: 115%;
  }
  
  .buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .buttons button {
    width: 35%;
    border: 0;
    border-radius: 3px;
    height: 40px;
    margin: 1.5%;
    font-size: 80%;
    font-weight: 600;
    color: white;
  }
  
  .buttons button:nth-child(1) 
  {
    background-color: rgb(76, 135, 255);
  }
  
  .buttons button:nth-child(2) 
  {
    background-color: rgb(51, 51, 51);
  }
  
  .model3-order h1 {
    font-weight: 600;
    font-size: 260%;
  }
  
  .model3-order {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 80%;
    padding: 10% 10% 0 10%;
    font-weight: 500;
    margin: 20% 0 0% 0;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  .order-now-button {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100vh;
    position: fixed;
    z-index: 1;
    width: 100%;
    display: none !important;
  }
  
  .order-now-button button {
    border: 0;
    border-radius: 3px;
    width: 70%;
    margin: 10%;
    height: 35px;
    color: white;
    background-color: rgb(58, 58, 58);
    font-size: 90%;
    font-weight: 550;
    opacity: 0;
    /* transform: translateY(2000%); */
  }
  
  .order-active {
    background-color: red;
  }
  } 
  