/* xs */
@media (min-width: 640px) {
  
  /*NAVBAR*/
  .adjust-image {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .main-section {
    background-image: url("../../Images/Model 3/Model 3 Main md.png");
    height: 110vh;
    background-position: center;
    background-size: cover;
    transform: translateY(-5%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
  }

  div.col.adjust-image {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .end-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .car-title {
    text-align: center;
    font-size: 300%;
    font-weight: 600;
  }
  
  .car-desc {
    text-align: center;
    font-weight: 600;
  }

  .apr {
    padding: 0 5% 0 5%;
  }
  .car-desc p:nth-child(1) {
    font-size: 190%;
    margin: 0 0 5px 0;
  }

  .car-desc p:nth-child(2) {
    font-size: 100%;
  }

  .car-details {
    margin: 120px 0;
    height: auto;
    font-size: 90%;
  }

  .car-stats {
    width: 100%;
  }

  .car-stats .row{
    font-size: 76%;
    margin: 50px 20% 0 20%;
    text-align: center;
    font-weight: 500;
    display:flex;
    align-items: center;
  }

  .car-stats .row .col {
    width: 100px;
    margin: 0 0 0;
    padding: 0;
  }

  .car-stats .row .col h1 {
    font-size: 150%;
    font-weight: 600;
  }

  .button-order {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .order-now-model3 {
    width: 180px;
    height: 40px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(31, 90, 255);
    margin: 4px;
    font-size: 85%;
  }

  .demo-drive-model3 {
    width: 180px;
    height: 40px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 4px;
    font-size: 85%;
  }




  /* Second Section */
  
  .second-section {
    background-image: url("../../Images/Model 3/Model 3 Second sm.png");
    height: 80vh;
    background-position: center;
    background-size: cover;
    margin: -50px 0 0 0;
  }

  .distance-details {
    margin: 5%;
    transform: translateY(25%);
    width: 85%;
    padding: 5%;
    color: rgb(255, 255, 255);
  }

  .distance-details h1 {
    font-size: 150%;
    font-weight: 600;
  }
  .distance-details p{
    font-size: 85%;
  }
  

  /* Third Section */

  .third-section {
    height: auto;
  }

  .background-video-model3{
    height: 600px;
  }

  .third-section div.row {
    margin: 0px;
    padding: 0;
  }

  .vid-third {
    height: 30rem;
    width: 100vw;
    padding: 0;
    margin: 5% 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .vid-third .two-newColors {
    width: 200%;
    height: 100%;
  }

  .upgraded-wheels {
    width: 230%;
    height: 100%;
  }

  .third-section-details {
    font-size: 80%;
    margin: 30px 0 0 30px;
    width: 100%;
    padding: 0;
  }

  .third {
    padding: 8%;
    font-size: 80%;
    margin: 30px 0 0 30px;
  }
  .third-section-details h1 {
    font-size: 140%;
    font-weight: 600;
  }

  .two-new-colors-btn {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 100%;
    margin: 0 0 20px 0;
  }

  .upgraded-wheels-btn {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 100%;
    margin: 0 0 20px 5px;
  }

  .all-new-interior {
    margin: 20% 0 100px 0;
    text-align: center;
    font-size: 110%;
  }

  .all-new-interior h1 {
    font-size: 170%;
  }



  .fourth-section {
    height: 45vh;

  }

    .carousel-vid {
      height: 600px;
      width: 100%;
    }

  .carousel-indicators {
    transform: translateY(250%);
  }

  .carousel-indicators li {
    width: 200px;
  }

  .carousel-item {
    height: 500px;
  }
  
  .carousel-caption {
    text-align: left;
    width: 90%;
    transform: translate(-15%, 30%);
    margin: 0 0 20px 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.247);
    padding: 20px;
    width: 100%;
    position: absolute;
  }

  .carousel-caption h3 {
    font-size: 150%;
  }

  .background-video-model4 {
    width: 100%;
  }

  .cabin {
    padding: 8%;
    font-size: 85%;
    color: black;
    font-weight: 500;
  }

  .cabin h3 {
    font-size: 160%;
    font-weight: 650;
  }

  .img-cabin {
    background-image: url('../../Images/Model 3/Cabin.png');
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }

  .sixth-section {
    height: 670px;
    background-color: white;
    color: black;
  }


  .seventh-section {
    margin: -10% 0 0 0;
    padding: 10% 0;
    background-color: white;
    color: black;
  }

  .phones-row {
    display: flex;
    flex-direction: row;
    margin: 1%;
  }

  .img-tech {
    width: 33.3%;
    height: auto;
    text-align: center;
    padding: 0;
  }

  .img-tech img {
    width: 90%;
  }

  .caption-img {
    font-size: 95%;
    margin: 15% 0;
    height: 100px;
  }

  .tech {
    padding: 10%;
    font-size: 75%;
    font-weight: 500;
    margin: 15% 0 0 0;
  }

  .tech h3 {
    font-weight: 600;
  }
  .cabin h3 {
    font-size: 150%;
    font-weight: 650;
  }


  .phone-tech {
    padding: 8%;
    font-size: 85%;
    font-weight: 500;
    margin: 10% 0 0 0;
  }

  .phone-tech h3 {
    font-size: 160%;
    font-weight: 650;
  }

  .eighth-section {
    height: 900px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .model3-buttons-content-mode {
    margin: 0 0 0 0;
    font-size: 100%;
  }

  .info-eighth-position p {
    padding:  0;
  }

  .eight-position-details {
    transform: translate(0, 600%);
  }

  .info-eighth-position {
    position: absolute;
    font-size: 120%;
  }

  .model3-buttons-content {
    transform: translateY(1000%);
  }

  .title-eighth-section{
    margin: 3% 0 0 4%;
    padding: 7%;
  }

  .title-eighth-section h1 {
    font-size: 160%;
    padding: 0;
    margin: 0;
    font-weight: 600;
  }


  .ninth-section {
    height: 740px;
    margin: 25% 0 10% 0;
  }

  .charging-title-section {
    margin: 6% 0 15% 6%;
    font-size: 85%;
  }

  .charging-title-section h3 {
    font-weight: 600;
  }

  .row-image-section {
    height: 100px;
    display: flex;
    margin: 8% 5%;
  }

  .row-image-section div {
    padding: 1%;
    width: 100%;
    cursor: pointer;
  }



  .row-image-section h1 {
    font-size: 100%;
    font-weight: 600;
  }

  .row-image-section p {
    font-size: 70%;
  }

  .line {
    width: 100%;
    height: 2px;
    margin: 0 0 15px 0;
    opacity: 1;
  }

  .active-image-section {
    margin: -7% 0;
    padding: 5%;
  }
  .active-image-section img {
    width: 100%;
  }

  .tenth-section {
    height: auto;
    margin: -25% 0 40% 0;
  }

  .demo-title-section {
    font-size: 85%;
    padding: 7%;

  }

  .demo-title-section h3 {
    font-weight: 600;
    font-size: 160%;
  }

  .form-group {
    padding: 6%;
  }

  .form-group label {
    font-weight: 600;
    font-size: 80%;
  }

  
  .form-group input {
    background-color: rgb(77, 77, 77);
    border-color: rgb(34, 34, 34);
  }

  .submit-zip {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -3% 0;
  }

  .submit-zip button {
    width: 25%;
    font-weight: 600;
    font-size: 80%;
    border-radius: 3px;
    border: 0;
    height: 30px;
    color: white;
    background-color: rgb(25, 79, 255);
  }

  .zip-image {
    margin: 8% 0;
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
  }


  .engineered-title-section {
    padding: 8%;
    margin: 20% 0;
    font-size: 85%;
  }

  .engineered-image {
    margin: 8% 0 -8% 0;
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .engineered-image img {
    width: 145%;
  }

  .engineered-title-section h3 {
    font-weight: 600;
    font-size: 160%;
    margin: 0 0 6% 0;
  }

  .parts-section {
    position: absolute;
  }

  .rigid {
    transform: translate(70%, -150%);
    position: absolute;
    height: 100px;
    width: 100px;
  }

  .impact {
    transform: translate(-80%, -70%);
    position: absolute;
    height: 100px;
    width: 100px;
  }

  .parts-section h3 {
    font-size: 90%;
    transform: translate(10%, -500%);
    font-weight: 600;
    opacity: 1;
  }

  .rigid .line-rigid {
    height: 100px;
    width: 3px;
    background-color: white;
  }

  .line-features {
    opacity: 0;
  }



  .impact .line-rigid {
    height: 100px;
    width: 3px;
    background-color: white;
  }

  .roll .line-rigid {
    height: 100px;
    width: 3px;
    background-color: white;
    position: absolute;
    border: 3px solid red;
    
  }


  .twelfth-section {
    margin: 0% 0 0 0;
  }

  .arrive-image img {
    width: 100%;
  }

  .features-refresh {
  }

  .twelfth-section .arrive-refresh{
    padding: 6%;
    transform: translateY(-20%);
  }

  .line-rigid-1, .line-rigid-2, .line-rigid-3 {
    height: 140px;
    width: 3px;
    background-color: white;
  }

  .roll h3 {
    transform: translate(10%, 290%);
    position: absolute;
    opacity: 1;
  }

  .roll {
    transform: translate(50%, 100%);
    width: 100px;
    height: 100px;
  }


  .line-rigid-3 {
    transform: rotate(180deg);
    width: 3px;
    background-color: white;
    position: absolute;
  }
  


  .thirteenth-section {
    margin: 15% 0 0 0;
  }

  .model3-specs h1{
    font-size: 140%;
    font-weight: 600;
  }

  .features-refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .features-refresh div {
    margin: 3%;
    font-size: 80%;
    font-weight: 600;
    transform: translateY(-140%);
  }

  .features-refresh div h3 {
    font-weight: 700;
    font-size: 140%;
  }

  .thirteenth-section .distance {
    padding: 8%;
  }

  .drive-title, .dimension, .warranty, .charging, .other{
    font-size: 80%;
  }

  .drive-title h1, .dimension h1, .warranty h1, .charging h1, .other h1 {
    margin: 0 0 10% 0;
    font-size: 140%;
    font-weight: 600;
  }

  .arrive-refresh h3 {
    font-size: 150%;
    font-weight: 600;
  }

  .arrive-refresh p {
    font-size: 85%;
    margin: 5% 0;
  }







  .col-specs h3 {
    font-size: 105%;
  }

  .col-specs p {
    margin: 0 0 3px 0;
    color: rgb(151, 151, 151);
  }

  .col-specs {
    margin: 0 0 15% 0;
  }

  .col-specs img {
    width: 200%;
  }

  .specs-button {
    display: flex;
    margin: 15% 0 15% 0;
  }

  .specs-button button {
    font-size: 70%;
    font-weight: 600;
    width: 100%;
    padding: 4%;
    color: white;
    border-color: transparent;
    background-color: transparent;
    border: none;
  }

  /* .specs-button button:nth-child(1)
  {
    border-bottom: 2px solid white;
  }
  .specs-button button:nth-child(2),   .specs-button button:nth-child(3)
  {
    border-bottom: 2px solid rgb(54, 54, 54);
  } */


.fourteenth-section {
  height: 90vh;
  background-image: url("../../Images/Model 3/Model 3 Order mobile.png");
  background-position: center;
  background-size: cover;
  margin: -5% 0 0 0;
}

.order-model3 {
  transform: translateY(-215%);
  height: 15vh;
  font-family: montserrat;
}

.buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttons button {
  width: 35%;
  border: 0;
  border-radius: 3px;
  height: 40px;
  margin: 2%;
  font-size: 80%;
  font-weight: 600;
  color: white;
}

.buttons button:nth-child(1) 
{
  background-color: rgb(76, 135, 255);
}

.buttons button:nth-child(2) 
{
  background-color: rgb(51, 51, 51);
}

.model3-order h1 {
  font-weight: 600;
  font-size: 260%;
}

.model3-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 80%;
  padding: 10% 10% 0 10%;
  font-weight: 500;
  margin: 20% 0 0% 0;
}













.order-now-button {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100vh;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: none !important;
}

.order-now-button button {
  border: 0;
  border-radius: 3px;
  width: 70%;
  margin: 10%;
  height: 35px;
  color: white;
  background-color: rgb(58, 58, 58);
  font-size: 90%;
  font-weight: 550;
  opacity: 0;
  /* transform: translateY(2000%); */
}

.order-active {
  background-color: red;
}
} 
